<!DOCTYPE html>
<html lang="es">
<head>
	<% include partials/head.ejs %>
</head>
<body>
<header>
	<% include partials/header.ejs %>
</header>
	<div class="colset-1">
	</div>
	<a href="/auth/facebook">Login con facebook</a>
	<a href="/auth/twitter">Login con Twitter</a> 
<% include partials/footer.ejs %>
</body>
</html>


